<div class="row mt-3">
    <div class="h1">All Borrow</div>
    <div class="col-md-12 mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>BookId</th>
                    <th>DayBorrow</th>
                    <th>StaffId</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a routerLink="#" class="btn btn-info btn-sm">
                            Edit
                        </a> &nbsp;
                        <a  class="btn btn-danger btn-sm" >
                            Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>